﻿@page "/SearchBoxTest" 
@using BlazorApp1.Components

<h3>SearchBoxTest</h3>

@*값을 대체해주고 싶을때 사용*@
<SearchBox></SearchBox>
<SearchBox placeholder="Search Query..." SearchQueryChanged="SearchQueryChanged" ></SearchBox>

<hr />
부모 : @searchQuery

@code {
    private string searchQuery;
    protected void SearchQueryChanged(string searchQuery)
    {
        this.searchQuery = searchQuery;
    }
}
