﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp1</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bonus">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> 용돈 나누기
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blazorform">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Blazor Form
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Demos/ParentChild/FrmParent">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Parent Child
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SearchBoxTest">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> SearchBox
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatBlazorTest">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> MatBlazorTest
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatTableTest">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> MatTableTest
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ChartJsDemo">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> ChartJsDemo
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FrmFileUploadTest">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> File Upload
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Customers">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Customers
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
