﻿@page "/SignaturePadDemo"
<h3>SignaturePadDemo</h3>

@inject IJSRuntime JSRuntime

<canvas width="300" height="200" id="theCanvas" style="border: 1px solid red;">
</canvas>

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    //await JSRuntime.InvokeAsync<object>("BlazorSignaturePad", "theCanvas");
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<object>("BlazorSignaturePad", "theCanvas");
    }
}
