﻿@page "/FrmFileUploadTest"

<h3>단일 파일 업로드 코드 조각</h3>

<BlazorInputFile.InputFile OnChange="HandleSelection">

</BlazorInputFile.InputFile>


<input type="button" name="Save" value="업로드"
       @onclick="UploadClick"/>